@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');
@import url('https://fonts.googleapis.com/css?family=Parisienne');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #999999;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  color: #000;
  font-family: 'Parisienne', cursive;
  font-size: 2.6rem;
  font-weight: normal;
  width:100%;
  text-align: center;
}

h3 {
  color: #000;
  font-weight: normal;
}


h4 {
  color: #000;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.8;
}

h5 {
  color: #000;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  text-align: left;

}

.container {
  margin: auto;
}

.center {
  margin: auto;
  width: 100%;
}

/* mobile navigation
_____________________________________________________________________________*/

.menu {
  padding-top: 2.6rem;
}

.menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  right: 10%;
  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
  background: gray;
}

.menu-toggler:checked + label {
  background: transparent;
}
.menu-toggler:checked + label:before, .menu-toggler:checked + label:after {
  top: 0;
  width: 40px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.menu-toggler:checked + label:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-toggler:checked + label:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  -webkit-transform: rotate(-5deg) translateX(-100px);
          transform: rotate(-5deg) translateX(-100px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  -webkit-transform: rotate(-60deg) translateX(-100px);
          transform: rotate(-60deg) translateX(-100px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  -webkit-transform: rotate(-115deg) translateX(-100px);
          transform: rotate(-115deg) translateX(-100px);
}

.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}

.menu-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: gray;
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  position: absolute;
  display: block;
  top: 1.6rem;
  right: 10%;
  margin: auto;
  cursor: pointer;
}
.menu-toggler + label:before, .menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: gray;
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  content: "";
  position: absolute;
  left: 0;
}
.menu-toggler + label:before {
  top: 10px;
}
.menu-toggler + label:after {
  top: -10px;
}

.menu-item:nth-child(1) a {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu-item:nth-child(2) a {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.menu-item:nth-child(3) a {
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}

.menu-item {
  position: absolute;
  display: block;
  top: 1.6rem;
  right: 15%;
  margin: auto;
  width: 80px;
  height: 80px;
  display: block;
  opacity: 0;
  transition: 0.5s;
}

.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: #fff;
  background: gray;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-family: "fontawesome";
  font-size: 40px;
  pointer-events: none;
  transition: .2s;
  opacity: 0.9;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: #fff;
  background: #000;
  font-size: 44.4444444444px;
}


/* desktop navigation
_____________________________________________________________________________*/

.header_nav {
  display: none;
}

.g_navi {
  background-color: #383838;
  color: #fff;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #a2a2a2;
}

.g_navi li {
  font-size: 13px;
  display: inline-flex;
  padding: 0.8rem 0 0.8rem 2.5%;
}

.g_navi a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.g_navi a:hover {
  color: #c1c1c1;
}

#changelang {
  font-family: 'Noto Sans SC', sans-serif;
  float: right;
  padding-right: 2.5%;
}


/* main
_____________________________________________________________________________*/

#main {
  transition:margin-left 0.5s;
}

.one {
  background: url(../img/c_bg.png) fixed;
  -webkit-background-size: 100% auto;
}

.two {
  background: url(../img/c_hexagon_bg.png) 50% 0 fixed;
}

.three {
  background: url(../img/c_hexagon.png) repeat-y 50% 0 fixed;
}

.four {
  max-width: 1024px;
  margin: auto;
  color: #000;
}


/* services
_____________________________________________________________________________*/

#services {
  padding: 0 0 4.2rem 0;
}

#services .m_hide {
  display: none;
}

#services .m_show {
  display: block;
  margin: auto;
  padding-top: 1.6rem;
  max-width: 300px;
  width: 100%
}

#services .s_text {
  padding: 26px 0 26px 0;
}

#services .s_text p {
  text-align: left;
}

#services .s_icon {
  width: 120px;
  height: 120px;
}

.rounded_box {
  background-color: #fff;
  max-width: 1024px;
  border-radius: 25px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 2.6rem;
}


/* faq
_____________________________________________________________________________*/


#faq {
  width: 100%;
  max-width: 1024px;
  margin: 50px auto;
  padding: 0 0 4.2rem;
}

button.accordion#first-child {
  border-top: 1px #e6e6e6 solid;
}

button.accordion {
  width: 100%;
  background-color: #fff;
  border: none;
  /* border-bottom: 1px #e6e6e6 solid; */
  overflow: hidden;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f107';
  font-family: "fontawesome";
  float: right;
}

button.accordion.is-open:after {
  content: '\f106';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #e6e6e6;
}

.accordion-content {
  background-color: white;
  /* border-left: 1px solid whitesmoke; */
  /* border-right: 1px solid whitesmoke; */
  border-bottom: 1px #e6e6e6 solid;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}


/* location
_____________________________________________________________________________*/

#location {
  background-color: #f8f9fa;
  padding: 1rem 0 4.2rem 0;
}

.l_img {
  width: 120px;
  height: 120px;
}

/* contact
_____________________________________________________________________________*/

#contact {
  background: url(../img/bg_bottom.jpg) no-repeat bottom center;
  padding: 0 0 11rem;
}

.c_img {
  width: 46px;
  height: 46px;
}


/* footer
_____________________________________________________________________________*/

.g_footer {
  background-color: #383838;
  border: 0;
  padding: 1.6rem;
}

.copyright_text {
  font-size: 0.6rem;
  color: #e6e6e6;
}


/* media
_____________________________________________________________________________*/


@media (min-width: 690px) {

  .header_nav { display: flex; }
  .menu { display: none; }

}

@media (min-width: 992px) {

  #services { background: #f8f9fa url(../img/emc_logo-03.png) no-repeat 26% 2.5%; }
  #services .m_hide { display: block; }
  #services .m_show { display: none; }

}
